<nav class="backoffice-tabs">
    <a class="backoffice-tab" href="/operations">Operaciones</a>
    <a class="backoffice-tab" href="/audit">Auditoría</a>
    <a class="backoffice-tab" href="/system-health">Salud sistema</a>
    <a class="backoffice-tab" href="/secure-area">Área segura</a>
</nav>
